@model Banco.ViewModels.UsuarioVM;
@{
    Layout = null;
}
<html>
    <head>
        <title>REGISTRO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>
    <div class="d-grid gap-2 mb-3 text-center align-items-center p-4">
        <h2 class="text-white">Banco Virtual ;)</h2>
    </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header text-center">
                        Registrate
                    </div>

                    <div class="card-body">

                        <form asp-controller="Acceso" asp-action="Registro" method="post">
                        <label>Nombre</label>
                        <input class="form-control mb-3" type="text" placeholder="Nombre completo" required asp-for="Nombre" />
                        <label>Correo</label>
                        <input class="form-control mb-3" type="text" placeholder="ejemplo@gmil.com" required asp-for="Correo" />
                        <label>Identificación</label>
                        <input class="form-control mb-3" type="text" placeholder="Identificacion" required asp-for="Identificacion" />
                        <label>Clave</label>
                        <input class="form-control mb-3" type="password" placeholder="Clave" required asp-for="Clave" />
                        <label>Repetir Clave</label>
                        <input class="form-control mb-3" type="password" placeholder="Repetir Clave" required asp-for="ConfirmarClave" />

                        <div class="d-grid gap-2 mb-3">
                            <button class="btn text-white" type="submit">Regístrate</button>
                        </div>

                        @if (ViewData["Error"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Error"]
                            </div>
                        }
    
                        @if (ViewData["Info"] != null)
                        {
                            <div class="alert alert-info" role="alert">
                                @ViewData["Info"]
                            </div>
                        }
                        <div class="text-center">
                            <p>¿Ya tienes una cuenta? <a asp-controller="Acceso" asp-action="Login">Inicia Sesión</a></p>
                        </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>