@{
    ViewData["Title"] = "Consultar Saldo";
}

<h2>Tu Saldo :)</h2>

@if (ViewData["MensajeFallo"] != null)
{
    <div class="alert alert-danger">
        @ViewData["MensajeFallo"]
    </div>
}
else
{
    <div class="alert alert-success">
        <p>Tu saldo actual es: @ViewData["Saldo"]</p>
    </div>
}
