@model IEnumerable<Banco.ViewModels.ConsultaMovimientoVM>


<html>
<head>
    <title>Consultar Movimientos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>

    <h2 class="text-center">Tus Movimientos :0</h2>
    <table class="table table-primary table-striped p-3">
        <link href="~/css/site.css" rel="stylesheet" />
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Tipo de Movimiento</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movimiento in Model)
        {
            <tr>
                <td>@movimiento.Fecha</td>
                <td>@movimiento.TipoMovimiento</td>
                <td>
                    @movimiento.Cantidad
                </td>
                
            </tr>
        }
    </tbody>
</table>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>
