@using System.Security.Claims;

@{
    ViewData["Title"] = "INICIO";
}

<div class="text-center">
    @if(User.Identity.IsAuthenticated)
    {
    <h1 class="display-4">Bienvenido/a
        @User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()
    </h1>
        
    }
    <p>Realiza tus movimientos bancarios :)</p>
</div>
